@using Bitirme.Models.ViewModels
@model InvoiceModel
@{
    ViewBag.Title = "Fatura Oluştur";
}

<style>
    .invoice-table {
        counter-reset: serial-number; /* Set the serial number counter to 0 */
    }

        .invoice-table td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!--<div class="panel-heading">
        Fatura Oluştur
    </div>-->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control" value="GoPanel" disabled>
                        </div>
                        <div class="form-group">
                            <textarea style="resize:none;" class="form-control" rows="3" disabled>Halkalı Merkez Mah. Arifbey Cad. Karadut Sok. No:11/7 K.Çekmece/İST V.D:Halkalı TC:21611184026</textarea>
                        </div>
                        <div class="form-group input-group">
                            <input type="text" class="form-control" placeholder="Cari Seçiniz">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" style="resize:none;" rows="3" placeholder="Cari Bilgileri"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Fatura No.</label>
                            <p class="form-control-static" style="color:red;">4535636</p>
                        </div>
                        <div class="form-group">
                            <label>Seri No.</label>
                            <p class="form-control-static" style="color:red;">F34</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control">Fatura Tarihi</label>
                                </div>
                                <div class="form-group">
                                    <label class="form-control">Sevk Tarihi</label>
                                </div>
                                <div class="form-group">
                                    <label class="form-control">Düzenlenme Saati</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="date" class="form-control" name="time" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="date" class="form-control" name="time" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="time" class="form-control" name="time" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default" style="border-width:0px;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control product" placeholder="Ürün/Hizmet Seçiniz" list="cars">
                                                <datalist id="cars">
                                                    <option value="Ford Focus">
                                                    <option value="Fiat Egea">
                                                    <option value="Hyundai Blue">
                                                    <option value="Hyundai i20">
                                                    <option value="Opel Corsa">
                                                </datalist>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <input class="form-control quantity" type="number" placeholder="Miktar">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">₺</span>
                                                <input type="number" min="1" max="99" placeholder="Fiyat" class="form-control price">
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">%</span>
                                                <input type="number" min="1" max="99" placeholder="KDV" class="form-control tax">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button class="form-control btn btn-primary" id="newItem"> Faturaya Ürün Ekle </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-default" style="border-width:0px;">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover invoice-table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Ürün/Hizmet</th>
                                                    <th>Miktar</th>
                                                    <th>Birim Fiyat ₺</th>
                                                    <th>KDV Oran %</th>
                                                    <th>KDV Tutarı ₺</th>
                                                    <th>Toplam Tutar ₺</th>
                                                    <th>Ürün Sil</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="count"></td>
                                                    <td>Fiat Egea</td>
                                                    <td>1</td>
                                                    <td>100.00</td>
                                                    <td>18</td>
                                                    <td>18</td>
                                                    <td class="totalCost">100</td>
                                                    <td style="text-align:center;"> <a class="btn btn-circle btn-danger">X</a> </td>
                                                </tr>
                                                <tr>
                                                    <td class="count"></td>
                                                    <td>Ford Focus</td>
                                                    <td>3</td>
                                                    <td>100.00</td>
                                                    <td>18</td>
                                                    <td>54</td>
                                                    <td class="totalCost">300</td>
                                                    <td style="text-align:center;"> <a class="btn btn-circle btn-danger">X</a> </td>
                                                </tr>
                                                <tr>
                                                    <td class="count"></td>
                                                    <td>Hyundai i20</td>
                                                    <td>5</td>
                                                    <td>80.00</td>
                                                    <td>18</td>
                                                    <td>72</td>
                                                    <td class="totalCost">400</td>
                                                    <td style="text-align:center;"> <a class="btn btn-circle btn-danger">X</a> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-offset-7 col-lg-5">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <th>Ürün/Hizmet Tutarı :</th>
                                                                <td class="totalPrice">800 <span>₺</span></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Toplam İskonto :</th>
                                                                <td class="totalSale">0 <span>₺</span></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Toplam Vergi :</th>
                                                                <td class="totalTax">144 <span>₺</span></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Vergiler Dahil Toplam Tutar :</th>
                                                                <td class="totalCostPrice">944 <span>₺</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.table-responsive -->
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                        <!-- /.panel -->
                                    </div>
                                    <!-- /.table-responsive -->
                                    <button class="form-control btn btn-success"> Faturayı Kaydet </button>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                        </div>
                    </div>
                    <script>
                        var totalPrice = 0;
                        $(".btn-circle").on("click", function () {
                            $(this).parent().parent().remove();
                            getAllValues();
                        });
                        $("#newItem").click(function () {
                            var last = $(".last").text();
                            last = parseInt(last) + 1;
                            $(".last").removeClass();
                            $(".invoice-table").append('<tr><td class="count"></td><td>' + $(".product").val() + '</td><td>' + $(".quantity").val() + '</td><td>' + parseFloat($(".price").val()).toFixed(2) + '</td><td>' + $(".tax").val() + '</td><td>' + calctax($(".tax").val()).toFixed(2) + '</td><td class="totalCost">' + totalPrice.toFixed(2) + '</td><td style="text-align:center;"> <a class="btn btn-circle btn-danger">X</a> </td></tr >');
                        });

                        function calctax(taxPrice) {
                            var price = $(".price").val();
                            var tax = $(".tax").val();
                            var quantity = $(".quantity").val();

                            taxPrice = parseFloat(quantity * price) * parseFloat(tax / 100);
                            totalPrice = parseFloat(parseFloat(quantity * price));
                            return taxPrice;
                        }

                        function getAllValues() {
                            var allVal = 0;
                            $(".totalCost").each(function () {
                                allVal = parseFloat(allVal) + parseFloat($(".totalCost").text());
                            });
                            alert(allVal);
                        }

                    </script>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Son Faturalar
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fatura No.</th>
                            <th>Cari</th>
                            <th>Tutar</th>
                            <th>Vergi</th>
                            <th>Vergi Dahil Tutar</th>
                            <th>Fatura Tar.</th>
                            <th>Notlar</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var invoice in Model.Invoices)
                        {
                            if (invoice.InvoiceID % 2 == 0)
                            {
                                <tr class="odd gradeX">
                                    <td>@invoice.InvoiceID</td>
                                    <td>@invoice.InvoiceNumber</td>
                                    <td>@invoice.CustomerName</td>
                                    <td>@invoice.Cost</td>
                                    <td>@invoice.TaxRate</td>
                                    <td>@invoice.TotalCost</td>
                                    <td>@invoice.InvoiceDate</td>
                                    <td>@invoice.InvoiceDescription</td>
                                    <td> <a href="#" class="btn btn-circle btn-warning"> <i class="fa fa-eye"></i> </a></td>
                                </tr>
                            }
                            else
                            {
                                <tr class="odd gradeX">
                                    <td>@invoice.InvoiceID</td>
                                    <td>@invoice.InvoiceNumber</td>
                                    <td>@invoice.CustomerName</td>
                                    <td>@invoice.Cost</td>
                                    <td>@invoice.TaxRate</td>
                                    <td>@invoice.TotalCost</td>
                                    <td>@invoice.InvoiceDate</td>
                                    <td>@invoice.InvoiceDescription</td>
                                    <td> <a href="#" class="btn btn-circle btn-warning"> <i class="fa fa-eye"></i> </a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


<!-- DataTables JavaScript -->
<script src="../HTML/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../HTML/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../HTML/vendor/datatables-responsive/dataTables.responsive.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>


